// =============================================================================
// Navigation Bar
// =============================================================================

@import "../../node_modules/bootstrap/less/navbar.less";

body {
}

.navbar-top {
  &:extend(.navbar);
  &:extend(.navbar-inverse);
  &:extend(.navbar-static-top);
}

.navbar-brand {
  padding-top: 8px;
  padding-bottom: 8px;

  img {
    margin-right: 10px;
    float: left;
  }

  span {
    color: #00d8ff !important;
    font-size: 24px;
    line-height: 38px;
  }
}

//
// Navigation Footer
// -----------------------------------------------------------------------------

.navbar-footer {
  &:extend(.navbar);
  &:extend(.navbar-fixed-bottom);

  background-color: darken(@body-bg, 2%);

  .text-muted {
    margin-top: 1em;

    span + span:before {
      content: "\2022\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 3px 0 7px;
    }
  }
}
